.table-view,
.table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header .label{
    -fx-text-fill: white;
}

.table-view .column-header-background{
    -fx-background-color:  #072a90;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
}

.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #072a90 ;
    -fx-text-background-color: white;
    -fx-background-radius: 5px;
    -fx-background-insets: 2px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -hlight-gradient;
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #4364C7FF, white);
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.text-field{
    -fx-border-color: #072a90; -fx-border-radius: 10px; -fx-background-radius: 10px; -fx-border-style: solid; -fx-border-width: 2px;
}

.list-view {
    -fx-border-color: #072a90;
    -fx-border-radius: 0px 0px 7px 7px;
    -fx-background-radius: 10px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

#bord1 { /* modify the selector according to your needs */
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-border-width: 0px, 20px, 20px, 20px;
}